.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  }
  
  h1 {
    font-size: 24px;
    text-align: center;
    color: #333;
    margin-bottom: 30px;
  }
  
  .form-control {
    width: 80%;
    margin-bottom: 20px;
  }
  
  .form-control label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #666;
  }
  
  .form-control input,
  .form-control select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .form-control input:focus,
  .form-control select:focus {
    border-color: #007BFF;
  }
  
  .form-checkbox {
    width: 80%;
    margin-bottom: 20px;
  }
  
  .form-checkbox .label {
    font-weight: bold;
    margin-bottom: 10px;
    color: #666;
  }
  
  .checkbox {
    margin-right: 10px;
    display: inline-block;
  }
  
  .btn-primary {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  